Pods/Pods.xcodeproj/xcuserdata/
THPTMath.xcodeproj/xcuserdata/hungle.xcuserdatad/xcschemes/xcschememanagement.plist
THPTMath.xcworkspace/
THPTMath.xcodeproj/xcuserdata/
THPTMath.xcodeproj/project.xcworkspace/xcuserdata/
*.DS_Store
