THPTMath.xcodeproj/project.xcworkspace/xcuserdata/
FBSDKLoginKit.framework
FBSDKShareKit.framework
FBSDKCoreKit.framework
SwiftyJSON.framework
Alamofire.framework
Pods/
Pods/Pods.xcodeproj/xcuserdata/
THPTMath.xcworkspace/
THPTMath.xcodeproj/xcuserdata/
*.DS_Store
